/* 
* PRIMARY COLOR: #2ecc71 - Emerald Green
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  color: #a55eea;
  text-decoration: none;
  cursor: pointer;
}

section { 
  justify-content: center; 
  align-items: center;
  align-content: center;
  margin: auto;
}

.navbar-brand {
  margin-left: 9em;
}

.nav-item {
  margin-right: 9em;
}

.welcome {
  color: white;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(46, 204, 113, 0.8), rgba(46, 204, 113, 0.8)), url("../images/code-cloud.png");
  background-position: center top;
}

.welcome h1 {
  position: absolute;
  font-size: 3em;
  font-weight: 100;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome p {
  position: absolute;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome h1, .welcome p {
  margin-top: 100px;
  opacity: 0;
  animation: 0.5s slidein-bottom 0.2s forwards;
}

.welcome a {
  transform: translate(-50%, -50%) scale(0);
  animation: 0.5s popup 1s forwards;
}

.btn {
  padding: 1.3em;
  margin: 2em 0 2em 0;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  background: #712ECC;
}

.get-started-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover, .get-started-btn:hover {
  background-color: orange;
  color: white;
}

.about-me, .technology, .projects, .contact {
  padding: 5em 0 5em 0;
  text-align: center;
  width: 50%;
}

.about-me img {
  margin: 3em 0 3em 0;
  width: 50%;
  height: 40%;
}

.text {
  padding: 1em;
  font-size: 1.3rem;
  font-weight: 0;
  line-height: 200%;
}

.title {
  font-size: 2rem;
  margin: 0 0 1.2em 0;
}

.tech-list i {
  font-size: 10rem;
  margin: 1rem;
}

.technology i:hover {
  transform: scale(1.1);
}

.other-tech h4 {
  padding: 2em 0 2em 0;
} 

.other-tech li {
  padding: 0.5em 0 0.5em 0;
}

.projects {
  color: white;
  background-color: #2ecc71;
  width: 100%;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3em;
  justify-content: space-evenly;
}

.project-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 260px;
  max-width: 500px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.project-logos {
  position: relative;
  width: 75%;
  top: 35%;
}

.project-item h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.project-item * {
  box-sizing: border-box;
}

.project-item img {
  max-width: 100%;
  vertical-align: top;
  height: 320px;
}

.project-item.green {
  background-color: green;
}

.project-item img:hover {
  opacity: 0.3;
  filter: grayscale(100%);
}

.project-item * {
  transition: all 0.2s ease-in-out;
}

footer {
  color: white;
  background-color: #2ecc71;
  margin-top: 3em;
}

footer p {
  font-size: 1em;
  text-align: center;
  padding: 5em;
}

@keyframes fadein {
  100% { opacity: 1; }
}

@keyframes slidein-bottom {
  100% { 
    margin: 0;
    opacity: 1; 
  }
}

@keyframes popup {
  100% { transform: translate(-50%, -50%) scale(1); }
}

@media screen and (max-width: 990px) {
  .navbar-brand { margin-left: 0; }
  .navbar-item { margin-right: 0; }
}

@media screen and (max-width: 600px) { 
  .welcome h1 { font-size: 2rem; }
  .welcome p { font-size: 1.1rem; }
  .btn {
    padding: 1em;
    font-size: 1em;
  }
  .about-me, .technology, .projects, .contact { padding: 4em 0 4em 0; }
  .about-me, .technology, .contact { width: 90%; }
  .projects { width: 100%; }
  .title { font-size: 1.2rem; }
  .text { font-size: 0.8em; }
  .tech-list i { font-size: 5em; }
  .project-item {
    width: 90%;
    margin-top: 10%;
  }
  .other-tech { font-size: 0.6rem; }
  footer p { font-size: 0.5em; }
}